.footer {
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: small;
}
